.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: $accent;
  color: black;
  padding: 5px 15px;
  font-size: 1.5rem;
  [class^="icon-"]:before, [class*=" icon-"]:before {
    margin-left: 0;
    margin-right: 0;
  }

  transition: color .2s ease-in-out, background .2s ease-in-out;
  &:hover, &:active {
    color: $accent;
    background: $background;
  }
}
