<footer class="footer">
  <div class="footer__inner accent">
    Contact me
  </div>
  <div class="footer__inner">
    {{ with .Site.Data.footer }}
      {{- range .item -}}
        <a href="{{ .url }}"><i class="{{ .icon }}" title="{{ .name }}"></i></a>
      {{- end -}}
    {{ else }}
      <div>Just a footer.</div>
    {{ end }}
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}

{{ $bundle := slice $menu $prism | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
